a {
    text-decoration: none;
}

body {
    max-width: 640px;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
}

.head {
    height: 120px;
    background: #ffffff;
    padding-left: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.ban img {
    display: block;
}

.newbox {
    height: 50px;
    padding: 0 10px;
    padding-bottom: 9px;
    background: url(newbg.png) no-repeat center top;
}

.newin {
    height: 50px;
    padding-left: 133px;
    background: url(newtl.png) no-repeat left center;
}

.lunleft {
    position: relative;
    overflow: hidden;
    height: 50px;
}

.lunleft ul {
    position: absolute;
    left: 100%;
    top: 0px;
    display: table;
}

.lunleft ul li {
    display: table-cell;
    white-space: nowrap;
    line-height: 50px;
    font-size: 20px;
    color: #000000;
}

.kf {
    text-align: center;
    padding-bottom: 10px;
}

.hui {
    font-size: 20px;
    line-height: 42px;
    padding-left: 25px;
    color: #ff5d90;
}

.hui em {
    color: #545454;
    ;
}

.hui a {
    color: #ff9d9d;
}

.cesu {
    width: 590px;
    margin: 0 auto;
    padding: 20px 0px;
}

.cesu li {
    height: 57px;
    padding-bottom: 17px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.miaoinpt {
    color: #000000;
    font-size: 26px;
    height: 53px;
    border: 2px solid #9cee65;
    background: #9cf599;
    text-align: center;
    border-radius: 5px;
    line-height: 52px;
}

.miaoinpt1 {
    width: 109px;
}

.miaoinpt2 {
    width: 300px;
}

.dw {
    display: block;
    color: #5bff63;
    height: 57px;
    border-radius: 5px;
    text-align: center;
    line-height: 56px;
    font-size: 26px;
    background: #000;
    width: 144px;
}

.miaoinptA {
    color: #000000;
    font-size: 26px;
    height: 53px;
    border: 2px solid #22a3ee;
    background: #187fd3;
    text-align: center;
    border-radius: 5px;
    line-height: 52px;
}

.miaoinptA1 {
    width: 109px;
}

.miaoinptA2 {
    width: 300px;
}

.dwA {
    display: block;
    color: #104ab4;
    height: 57px;
    border-radius: 5px;
    text-align: center;
    line-height: 56px;
    font-size: 26px;
    background: #000;
    width: 144px;
}